@use "../../sass-use/mixins" as *;
@use "../../sass-use/sassVariables" as *;

.team__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
}

.team__card {
  margin-bottom: 20px;
}

.team__card:last-child {
  margin-bottom: 0px;
}

.team__image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
}
.team__name {
  margin-top: 15px;
  color: var(--fontDarkGreen);
  margin-bottom: 10px;
  font-weight: 700;
}
.team__degree {
  margin: 0;
  color: var(--grassGreen);
  font-weight: 400;
}

@media (max-width: $mediumScreen) {
  .team__card {
    padding: 0 12px;
  }

  .team {
    grid-column: 1/4;

    .wrapper__grid {
      grid-template-columns: 1fr 1fr 1fr;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

@media (max-width: $smallScreen) {
  .team__wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .team__card {
    padding: 0 16px;
  }
}

@media (max-width: $verySmallScreen) {
  .team__wrapper {
    grid-template-columns: 1fr;
  }
  .team__card {
    padding: 0 20px;
  }
}
