<section class="carousel main__banner" id="data-carousel">

  <div class="carousel__slide carousel__slide--1" slide>

    <img class="carousel__img carousel__img--1" alt="lekarz w okularach uśmiechający się i spoglądający w stronę ekranu" src="/img/home/doctor_standing.jpg" />

    <div class="carousel__overlay"></div>

    <div class="carousel__jumbotron jumbotron carousel__jumbotron--overlay">
      <div class="jumbotron__wrapper" text>
        <div class="carousel__title">
          W NZOZ Rehabilitacja Majowe oferujemy:
        </div>
        <div class="carousel__desc">
          Wysoką jakość usług, konsultacji i sprzętu rehabilitacyjnego
        </div>
        <a href="/opis" class="btn carousel__btn carousel__btn--darkGreen" tabindex="-1" button>
          Zobacz Opis Zabiegów
        </a>
      </div>

    </div>
  </div>

  <div class="carousel__slide carousel__slide--2" slide>

    <img class="carousel__img carousel__img--2" alt="kobieta będąca w trakcie sesji chiropraktycznej (widoczna jest jej głowa oraz ręce osoby wykonującej zabieg)" src="/img/home/masage3.jpg" />

    <div class="carousel__jumbotron jumbotron">
      <div class="jumbotron__wrapper jumbotron__wrapper--whitesmoke" text>
        <div class="carousel__title">
          W Naszej Przychodni Znajdą Państwo:
        </div>
        <div class="carousel__desc">
          Szeroką gamę zabiegów mających za zadanie przywrócenie Państwu sprawności fizycznej.
        </div>
        <a href="/oferta" class="btn carousel__btn carousel__btn--pink" tabindex="-1" button>
          Poznaj Naszą Ofertę
        </a>
      </div>
    </div>
  </div>

  <div class="carousel__slide carousel__slide--3" slide>

    <img class="carousel__img carousel__img--3" alt="kobieta wykonująca masaż ręki dla klientki" src="/img/home/clinic-hand2.jpg" />

    <div class="carousel__overlay"></div>

    <div class="carousel__jumbotron">
      <div class="jumbotron__wrapper" text>
        <div class="carousel__title">
          Zapraszamy Państwa do kontaktu!
        </div>
        <div class="carousel__desc">
          Telefonicznie, mailowo, lub z umówieniem na miejscu
        </div>
        <a href="/kontakt" class="btn carousel__btn carousel__btn--lightGreen" tabindex="-1" button>
          Zobacz Dane Kontaktowe
        </a>
      </div>
    </div>
  </div>

  <button class="carousel__nav carousel__nav--right" data-carousel-button="next">
    <svg class="carousel__svg" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="22.8">
      <path d="m304 974-56-57 343-343-343-343 56-57 400 400-400 400Z" />
    </svg>

  </button>
  <button class="carousel__nav carousel__nav--left" data-carousel-button="prev">
    <svg class="carousel__svg carousel__svg--left" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="22.8">
      <path d="m304 974-56-57 343-343-343-343 56-57 400 400-400 400Z" />
    </svg>
  </button>



</section>

<section class="services">

  <div class="services--container container">

    <div class="services__card card card--white card--shadow">
      <div class="services__top services__top--circle services__top--circle1">
        <svg class="services__svg" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
          <path d="M540 975q-112 0-186-78.5T280 709v-35q-85-11-142.5-75.711T80 446V216h120v-40h60v140h-60v-40h-60v169.677Q140 517 189.5 566.5T310 616q71 0 120.5-49.5T480 445.677V276h-60v40h-60V176h60v40h120v230q0 87.578-57.5 152.289Q425 663 340 674v35q0 85 56.5 145.5T540 915q81 0 140.5-60.152T740 708.765V632q-35-10-57.5-39T660 526q0-45.833 32.118-77.917 32.117-32.083 78-32.083Q816 416 848 448.083q32 32.084 32 77.917 0 38-22.5 67T800 632v77q0 111-76.5 188.5T540 975Zm229.825-399Q791 576 805.5 561.675q14.5-14.324 14.5-35.5Q820 505 805.675 490.5q-14.324-14.5-35.5-14.5Q749 476 734.5 490.325q-14.5 14.324-14.5 35.5Q720 547 734.325 561.5q14.324 14.5 35.5 14.5Zm.175-50Z" />
        </svg>
      </div>
      <div class="services__title">
        Konsultacje Lekarskie
      </div>
      <div class="services__desc">
        W naszej przychodni mają państwo możliwość skorzystania z porady lekarza specjalisty w dziedzinie fizjoterapii,
        który zdiagnozuje i zleci indywidualnie dobrane do pacjenta zabiegi.
      </div>
    </div>

    <div class="services__card card card--white card--shadow">
      <div class="services__top services__top--circle services__top--circle2">
        <svg class="services__svg" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
          <path d="M480 976q-72-8-143.5-41.5t-128.5-93q-57-59.5-92.5-147T80 491.025V453h38q53 0 113 20.5T337 526q8-90 48-185.5T480 177q55 68 95 163.5T623 526q46-30 106-51.5T842 453h38v38.025Q880 607 844.5 694.5t-92.5 147q-57 59.5-128.5 93T480 976Zm8-61q-11-186-107.393-282.184Q284.213 536.632 141 514q13 193 112.5 288T488 915Zm-9-245q14-26 38.5-56t47.5-50q5-68-20-138t-65-145q-40 75-65 145t-20 138q23 20 46.5 50t37.5 56Zm69 228q47-17 93.5-45t84-73q37.5-45 63-110.5T819 514q-106 17-187 75.5T513 734q12 38 21 76.5t14 87.5Zm-69-228Zm69 228Zm-60 17Zm25-181Zm-33 242Z" />
        </svg>
      </div>
      <div class="services__title">
        Zabiegi
      </div>
      <div class="services__desc">
        Oferujemy szeroką gamę zabiegów fizykoterapeutycznych, zapewniając przy tym
        wysoką jakość usług i wykwalifikowany personel.
      </div>
    </div>

    <div class="services__card card card--white card--shadow">
      <div class="services__top services__top--circle services__top--circle3">
        <svg class="services__svg" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
          <path d="M120 936v-60l87-255-87-255v-60h527l62-170 68 27-52 143h115v60l-88 255 88 255v60H120Zm332-161h60V651h124v-60H512V467h-60v124H328v60h124v124ZM182 876h596l-88-255 88-255H182l88 255-88 255Zm298-255Z" />
        </svg>
      </div>
      <div class="services__title">Metody Specjalne</div>
      <div class="services__desc">
        W naszej przychodni mogą państwo skorzystać z takich zabiegów specjalnych jak:
        <i>Metoda Mulligana</i> oraz <i>Kinesiotaping</i>.
      </div>
    </div>

  </div>

</section>

<section class="about">

  <div class="about--container container">
    <div class="about__card card">
      <h3 class="about__top about__top--text">O nas </h3>
      <h1 class="about__title">Witamy w NZOZ Rehabilitacja Majowe</h1>
      <p class="about__desc">
        Jesteśmy nowoczesną i doskonale wyposażoną placówka rehabilitacyjną. W trosce o Państwa zdrowie oferujemy wysokiej jakości sprzęt rehabilitacyjny oraz wykwalifikowany personel, który służy Państwu swoją wiedzą i pomocą na każdym etapie rehabilitacji. W Naszej placówce mogą Państwo skorzystać zarówno z konsultacji lekarza specjalisty z zakresu balneoklimatologii i medycyny fizykalnej, jak i z pełnej gamy zabiegów mających za zadanie przywrócić Państwu sprawność fizyczną. Wykonujemy zabiegi z zakresu: <i>elektroterapii, wodolecznicznictwa, krioterapii, światłolecznictwa, magnetoterapii, laseroterapii , masażu i kinezyterapii</i>.
      </p>
    </div>
    <img class="about__img" alt="kobieta w trkakcie sesji chiropraktycznej, uśmiechająca się z zamkniętymi oczami" src="img/home/patient_smile.jpg" aboutUsImage />
  </div>

</section>

</main>