<section class="pricing main__section main__section--margins">
  <div class="pricing__wrapper">
    <table class="table pricing__table pricing__table--margin-bottom">
      <caption class="table__caption">
        FIZYKOTERAPIA
      </caption>
      <tbody class="table__body">
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Diadynamik </td>
          <td class="table__cell table__cell--price" data-label="Price"> 11 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Sollux </td>
          <td class="table__cell table__cell--price" data-label="Price"> 10 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Galwanizacja </td>
          <td class="table__cell table__cell--price" data-label="Price"> 11 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Jonoforeza </td>
          <td class="table__cell table__cell--price" data-label="Price">11 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Interdyn </td>
          <td class="table__cell table__cell--price" data-label="Price"> 11 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Magnetoterapia </td>
          <td class="table__cell table__cell--price" data-label="Price"> 11 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Laser (1 punkt) </td>
          <td class="table__cell table__cell--price" data-label="Price"> 11 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Terapuls </td>
          <td class="table__cell table__cell--price" data-label="Price"> 11 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Ultradźwięki </td>
          <td class="table__cell table__cell--price" data-label="Price"> 12 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Tens </td>
          <td class="table__cell table__cell--price" data-label="Price">11 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Krioterapia (do 3 min / 1 okolica) </td>
          <td class="table__cell table__cell--price" data-label="Price"> 12 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Thermo </td>
          <td class="table__cell table__cell--price" data-label="Price"> 13 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Masaż wirowy L / S </td>
          <td class="table__cell table__cell--price" data-label="Price"> 13 zł</td>
        </tr>
      </tbody>
    </table>
    <table class="table pricing__table pricing__table--margin-bottom">
      <caption class="table__caption">MASAŻE</caption>
      <tbody class="table__body">
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Masaż suchy częściowy (1 okolica) </td>
          <td class="table__cell table__cell--price" data-label="Price"> 25 zł </td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Masaż suchy kręgosłupa (th-1 / s) </td>
          <td class="table__cell table__cell--price" data-label="Price"> 30 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Masaż suchy (C,Th, L / S) </td>
          <td class="table__cell table__cell--price" data-label="Price"> 40 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Masaż limfatyczny (1 okolica) </td>
          <td class="table__cell table__cell--price" data-label="Price"> 30 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Masaż mechaniczny (BOA) </td>
          <td class="table__cell table__cell--price" data-label="Price">10 zł</td>
      </tbody>
    </table>
    <table class="table pricing__table">
      <caption class="table__caption">KONSULTACJE MEDYCZNE</caption>
      <tbody class="table__body">
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Lekarz specjalista balneologii i medycyny fizykalnej</td>
          <td class="table__cell table__cell--price" data-label="Price"> 40 zł</td>
        </tr>
      </tbody>
    </table>
    <table class="table pricing__table">
      <caption class="table__caption">KINEZYTERAPIA</caption>
      <tbody class="table__body">
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Gimnastyka grupowa </td>
          <td class="table__cell table__cell--price" data-label="Price">10 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Gimnastyka indywidualna </td>
          <td class="table__cell table__cell--price" data-label="Price">20 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Instruktaż do ćwiczeń indywidualnych</td>
          <td class="table__cell table__cell--price" data-label="Price">20 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Ćwiczenia w odciążeniu - 1 staw biodrowy / 2 stawy </td>
          <td class="table__cell table__cell--price" data-label="Price">12 / 18 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Ćwiczenia w odciążeniu stawów barkowych</td>
          <td class="table__cell table__cell--price" data-label="Price">12 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Ćwiczenia czynne</td>
          <td class="table__cell table__cell--price" data-label="Price">12 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Ćwiczenia na przyrządach (rower, atlas itp.) </td>
          <td class="table__cell table__cell--price" data-label="Price">12 zł</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell table__cell--name" data-label="Name">Ćwiczenia przy stołach manualnych</td>
          <td class="table__cell table__cell--price" data-label="Price">12 zł</td>
        </tr>
      </tbody>
    </table>
  </div>

</section>

</main>