<section class="preperation main__section main__section--margins">

  <div class="card__container">
    <div class="card--horizontal card">
      <h1 class="card__title">Jak się przygotować do zabiegu</h1>
      <p class="card__desc">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</i>.
      </p>
    </div>
    <img class="card__img" alt="pacjentka z lekarką uśmiechające się." src="img/treatments/patient.jpg" aboutUsImage />
  </div>

</section>

<section class="treatments">

  <div class="container container--treatments accordion-container">

    <div class="ac card card--white">
      <h2 class="services__title services__title--treatments">
        <button class="ac-trigger"> wizyta fizjoterapeutyczna</button>
      </h2>
      <div class="ac-panel services__desc">
        <p class="ac-text">Nulla et sodales nisl. Nam auctor quis odio eu congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="ac card card--white">
      <h2 class="services__title services__title--treatments">
        <button class="ac-trigger">terapia indywidualna</button>
      </h2>
      <div class="ac-panel services__desc">
        <p class="ac-text">Nulla et sodales nisl. Nam auctor quis odio eu congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="ac card card--white">
      <h2 class="services__title services__title--treatments">
        <button class="ac-trigger">elektroterapia</button>
      </h2>
      <div class="ac-panel services__desc">
        <p class="ac-text">Nulla et sodales nisl. Nam auctor quis odio eu congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="ac card card--white">
      <h2 class="services__title services__title--treatments">
        <button class="ac-trigger">Światłolecznictwo</button>
      </h2>
      <div class="ac-panel services__desc">
        <p class="ac-text">Nulla et sodales nisl. Nam auctor quis odio eu congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="ac card card--white">
      <h2 class="services__title services__title--treatments">
        <button class="ac-trigger">Magnetoterapia</button>
      </h2>
      <div class="ac-panel services__desc">
        <p class="ac-text">Nulla et sodales nisl. Nam auctor quis odio eu congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="ac card card--white">
      <h2 class="services__title services__title--treatments">
        <button class="ac-trigger">laseroterapia</button>
      </h2>
      <div class="ac-panel services__desc">
        <p class="ac-text">Nulla et sodales nisl. Nam auctor quis odio eu congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="ac card card--white">
      <h2 class="services__title services__title--treatments">
        <button class="ac-trigger">krioterapia</button>
      </h2>
      <div class="ac-panel services__desc">
        <p class="ac-text">Nulla et sodales nisl. Nam auctor quis odio eu congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="ac card card--white">
      <h2 class="services__title services__title--treatments">
        <button class="ac-trigger">Ultradźwięki</button>
      </h2>
      <div class="ac-panel services__desc">
        <p class="ac-text">Nulla et sodales nisl. Nam auctor quis odio eu congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="ac card card--white">
      <h2 class="services__title services__title--treatments">
        <button class="ac-trigger">wodolecznictwo</button>
      </h2>
      <div class="ac-panel services__desc">
        <p class="ac-text">Nulla et sodales nisl. Nam auctor quis odio eu congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="ac card card--white">
      <h2 class="services__title services__title--treatments">
        <button class="ac-trigger">masaż</button>
      </h2>
      <div class="ac-panel services__desc">
        <p class="ac-text">Nulla et sodales nisl. Nam auctor quis odio eu congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>

</section>

<script>
  new Accordion('.accordion-container');
</script>


</main>