<section class="team main__section main__section--margins">
  <div class="team__wrapper">
    <div class="team__card card">
      <img class="team__image" src="img/team/team_01.jpg" alt="" />
      <h3 class="team__name">
        Lorem Ipsum
      </h3>
      <p class="team__degree">Lek. med. spec. fizjoterapii i balneoklimatologii</p>
    </div>
    <div class="team__card card">
      <img class="team__image" src="img/team/team_02.jpg" alt="" />
      <h3 class="team__name">
        Lorem Ipsum
      </h3>
      <p class="team__degree">Mgr rehabilitacji ruchowej</p>
    </div>
    <div class="team__card card">
      <img class="team__image" src="img/team/team_05.jpg" alt="" />
      <h3 class="team__name">
        Lorem Ipsum
      </h3>
      <p class="team__degree">Mgr rehabilitacji ruchowej</p>
    </div>
    <div class="team__card card">
      <img class="team__image" src="img/team/team_04.jpg" alt="" />
      <h3 class="team__name">
        Lorem Ipsum
      </h3>
      <p class="team__degree">Mgr fizjoterapii</p>
    </div>
    <!-- Test ilościowu  -->
    <div class="team__card card">
      <img class="team__image" src="img/team/team_01.jpg" alt="" />
      <h3 class="team__name">
        Lorem Ipsum
      </h3>
      <p class="team__degree">Lek. med. spec. fizjoterapii i balneoklimatologii</p>
    </div>
    <div class="team__card card">
      <img class="team__image" src="img/team/team_02.jpg" alt="" />
      <h3 class="team__name">
        Lorem Ipsum
      </h3>
      <p class="team__degree">Mgr rehabilitacji ruchowej</p>
    </div>
    <div class="team__card card">
      <img class="team__image" src="img/team/team_03.jpg" alt="" />
      <h3 class="team__name">
        Lorem Ipsum
      </h3>
      <p class="team__degree">Mgr rehabilitacji ruchowej</p>
    </div>
    <div class="team__card card">
      <img class="team__image" src="img/team/team_04.jpg" alt="" />
      <h3 class="team__name">
        Lorem Ipsum
      </h3>
      <p class="team__degree">Mgr fizjoterapii</p>
    </div>
    <div class="team__card card">
      <img class="team__image" src="img/team/team_01.jpg" alt="" />
      <h3 class="team__name">
        Lorem Ipsum
      </h3>
      <p class="team__degree">Lek. med. spec. fizjoterapii i balneoklimatologii</p>
    </div>
    <div class="team__card card">
      <img class="team__image" src="img/team/team_02.jpg" alt="" />
      <h3 class="team__name">
        Lorem Ipsum
      </h3>
      <p class="team__degree">Mgr rehabilitacji ruchowej</p>
    </div>
    <div class="team__card card">
      <img class="team__image" src="img/team/team_03.jpg" alt="" />
      <h3 class="team__name">
        Lorem Ipsum
      </h3>
      <p class="team__degree">Mgr rehabilitacji ruchowej</p>
    </div>
    <div class="team__card card">
      <img class="team__image" src="img/team/team_04.jpg" alt="" />
      <h3 class="team__name">
        Lorem Ipsum
      </h3>
      <p class="team__degree">Mgr fizjoterapii</p>
    </div>
    <div class="team__card card">
      <img class="team__image" src="img/team/team_01.jpg" alt="" />
      <h3 class="team__name">
        Lorem Ipsum
      </h3>
      <p class="team__degree">Lek. med. spec. fizjoterapii i balneoklimatologii</p>
    </div>
    <div class="team__card card">
      <img class="team__image" src="img/team/team_02.jpg" alt="" />
      <h3 class="team__name">
        Lorem Ipsum
      </h3>
      <p class="team__degree">Mgr rehabilitacji ruchowej</p>
    </div>
    <div class="team__card card">
      <img class="team__image" src="img/team/team_04.jpg" alt="" />
      <h3 class="team__name">
        Lorem Ipsum
      </h3>
      <p class="team__degree">Mgr fizjoterapii</p>
    </div>
  </div>

</section>

</main>